<turbo-frame id="edit-consecutivo-form">
  <div class="relative border-t border-slate-200 py-2">
    <%= render 'admin/production_orders/consecutivo_form', consecutivo_form: @production_order_item %>
  </div>
</turbo-frame>