<div class="container mx-auto my-12">
<div class="ml-4" data-controller="cart" >
  <h1>Cart Page</h1>
  <div id="errorContainer"></div>
    <div class="mt-4 font-medium" id="total"></div>
    <button class="px-4 py-2 mt-6 text-white bg-gray-500 rounded hover:bg-gray-600" data-action="click->cart#checkout">Checkout</button>
    <button class="px-4 py-2 text-white bg-gray-500 rounded hover:bg-gray-600" data-action="click->cart#clear">Clear Cart</button>
  </div>
</div>
</div>