<div
  class="flex flex-wrap justify-end px-4 py-2 bg-gray-900 shadow-sm lg:items-center lg:justify-center gap-x-6"
>
  <h6
    class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-white text-md"
  >
    NEW | Material Tailwind PRO, a comprehensive compilation of 200+ sections,
    now available for your use!
  </h6>
  <button
    class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg bg-white text-blue-gray-900 shadow-md shadow-blue-gray-500/10 hover:shadow-lg hover:shadow-blue-gray-500/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
    type="button"
    data-ripple-dark="true"
  >
    Check out
  </button>
  <button
    class="relative w-8 h-8 font-sans text-xs font-medium text-center text-white uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none sm:w-10 sm:h-10 hover:bg-white/10 active:bg-white/30"
    type="button"
    data-ripple-light="true"
  >
    <span
      class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        class="w-4 h-4 text-white stroke-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </span>
  </button>
</div>
