<div
  class="flex flex-wrap justify-end px-4 py-2 bg-gray-900 shadow-sm lg:items-center lg:justify-center gap-x-6"
>
  <h6
    class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-white text-md"
  >
    Precios actuales de OZ Oro y Plata Libertad
  </h6>

  <% if @precios.present? %>
    <% @precios.each do |precio| %>
      <div class="text-sm text-white">
        <strong><%= precio[:nombre] %>:</strong>
        Compra: <%= precio[:compra] %> | Venta: <%= precio[:venta] %>
      </div>
    <% end %>
  <% else %>
    <div class="text-sm text-white">Cargando precios...</div>
  <% end %>
</div>
