<div class="text-white bg-gray-800 ">
    <nav class="container sticky px-4 py-3 mx-auto">
        <div class="flex items-center justify-between mb-2">
            <a href="#" class="text-2xl font-bold">CoinCollect</a>
            <button id="menuToggle" class="md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>

            
        </div>
        <div id="mobileMenu" class="hidden mt-4 md:flex md:items-center md:justify-between md:mt-0">
            <ul class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4">
                <li><a href="#" class="block hover:text-gray-300">Inicio</a></li>
                <li><a href="#" class="block hover:text-gray-300">Catálogo</a></li>
                <li><a href="#" class="block hover:text-gray-300">Sobre Nosotros</a></li>
                <li><a href="#" class="block hover:text-gray-300">Contacto</a></li>
            </ul>
            <div class="flex items-center mt-4 space-x-4 md:mt-0">
            
                <a href="#" class="hover:text-gray-300">
                    <span class="sr-only">Carrito</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                </a>                    
                    <div class="flex w-full gap-2 shrink-0 md:w-max">
                        <%= link_to "Iniciar Sesión", '#', class: "flex select-none items-center gap-3 rounded-lg bg-yellow-500 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
                    </div>
            </div>
        </div>
    </nav>
</div>