<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t('admin.common.editing', resource: 'stock') %></h1>

  <%= render "form", admin_stock: @admin_stock %>

  <%= link_to t('admin.common.show_this', resource: 'stock'), [:admin, @admin_stock.product, @admin_stock], class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to t('admin.common.back_to', resource: 'stocks'), admin_product_stocks_path(@admin_stock.product, @admin_stock), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
