<div id="<%= dom_id category %>">
  <p class="border border-slate-300 p-3 text-left bg-slate-50">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= category.name %>
  </p>

  <p class="border border-slate-300 p-3 text-left bg-slate-50">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= category.description %>
  </p>

</div>


