<section class="my-12">
  <h2 class="mb-8 text-3xl font-semibold text-center text-gray-800">Explora nuestras Categorías</h2>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <% @main_categories.each do |category| %>
      <%= link_to category_path(category), class: "flex flex-col items-center bg-white shadow-lg border border-gray-200 rounded-lg transition-transform duration-300 hover:scale-105" do %>
        <div class="relative w-40 h-40 mt-6 overflow-hidden rounded-full">
          <%= image_with_initials(category, "w-full h-full object-cover") %>
        </div>
        <div class="px-6 py-4 text-center">
          <h3 class="mb-2 text-lg font-bold text-gray-800"><%= category.name %></h3>
          <p class="text-sm text-gray-600">Descubre más sobre <%= category.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
